<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/static/light/styles.css">
</head>
<body class="{{ selected_theme }}">
    <h1 class="center">Admin Panel</h1>
    <div class="admin-container">
        <form method="POST">
            <h2>Edit Taplist Title</h2>
            <label for="title">Taplist Title:</label>
            <input type="text" id="title" name="title" value="{{ title }}" required>
            
            <h2>Brewers Friend API Key</h2>
            <label for="api_key">API Key:</label>
            <input type="text" id="api_key" name="api_key" value="{{ api_key }}">

            <h2>Select Theme</h2>
            <label for="theme">Theme:</label>
            <select id="theme" name="theme">
                <option value="light" {% if selected_theme == "light" %}selected{% endif %}>Light</option>
                <option value="dark" {% if selected_theme == "dark" %}selected{% endif %}>Dark</option>
            </select>

            <h2>Manage Folders</h2>
            <div class="folders-container">
                <!-- Available Folders -->
                <div class="column">
                    <h3>Available Folders</h3>
                    <select id="available-folders" name="available_folders" multiple>
                        {% for folder in unselected_folders %}
                        <option value="{{ folder }}">{{ folder }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Selected Folders -->
                <div class="column">
                    <h3>Selected Folders</h3>
                    <select id="selected-folders" name="selected_folders" multiple>
                        {% for folder in selected_folders %}
                        <option value="{{ folder }}">{{ folder }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <button type="submit">Save Changes</button>
            <p>{{ message }}</p>
        </form>  

        <!-- Back button -->
        <div class="back-button">
            <a href="{{ url_for('taplist') }}" class="button">Back to Taplist</a>
        </div>
    </div>
</body>
</html>
